html {
    overflow: hidden;
}

body {
    background-color: gray;
    margin: 1%;
    padding:  1%;
}

html,
body {
    overflow: hidden;
}

canvas {
    position:  fixed;
    top: 0;
    left: 0;
    outline:  none; 
}
